.git
.github
node_modules
src/apps/*/node_modules
src/packages/*/node_modules
src/apps/*/dist
src/packages/*/dist
src/apps/*/.astro
**/*.log
.env
.env.*
!.env.example
src/supabase/.branches
src/supabase/.temp
docs
src/scripts
