.git
.github
node_modules
apps/*/node_modules
packages/*/node_modules
apps/*/dist
packages/*/dist
apps/*/.astro
**/*.log
.env
.env.*
!.env.example
supabase/.branches
supabase/.temp
docker
docs
scripts
